* {
  font-family: 'Playfair Display', serif;
}

body {
  background-image: linear-gradient(to right, aliceblue, rgb(101, 174, 238));
}
h1 {
  margin: 0;
}

.header {
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  background-image: linear-gradient(to right, aliceblue, rgb(101, 174, 238));
  color: white;
  text-shadow: -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.home-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  margin: 30px;
  height: 75px;
  width: 125px;
  background-color: aliceblue;
  font-size: large;
  text-decoration: none;
  border-radius: 10px;
}

button:hover {
  transform: scale(1.05);
}