.article-card {
  margin: 25px;
  height: auto;
  width: 125px;
  background-color: aliceblue;
  font-size: 1em;
  text-decoration: none;
  border-radius: 10px;
  color: black;
}

.article-card:hover {
  transform: scale(1.05);
}